<footer class="pt-4 m-5 pt-md-5 border-top">
    <div class="row justify-content-md-center text-center">
      <div class="col-sm text-success mb-3">
        <h5>
          Antonio Cebrián
          <small class="d-block mb-3" id="date">© </small>
        </h5>
        <h6 class="text-primary">Dynamic ShowCase <br>
          <span class="text-dark">v1.0.0-alpha</span>
        </h6>
      </div>
      <div class="col-sm-auto mb-3">
        <h5>My personal Website</h5>
        <div class="hover-container my-3">
          <a class="cig" href="http://clasesinformaticagranada.es/">
            <span>Clases Informática Granada</span>
          </a>
        </div>
      </div>
      <div class="col-sm mb-3">
        <h5>Follow my work</h5>
        <ul class="list-group list-group-horizontal-md">
          <li class="list-group-item flex-fill">
            <!--Linkedin-->
            <a class="btn-floating btn-lg btn-li" type="button" role="button"
              href="https://www.linkedin.com/in/antonio-cebrián-mesa">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li class="list-group-item flex-fill">
            <!--Github-->
            <a class="btn-floating btn-lg btn-git" type="button" role="button" href="https://github.com/Ch3ssMaster">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="list-group-item flex-fill">
            <!--Twitter-->
            <a class="btn-floating btn-lg btn-tw" type="button" role="button"
              href="https://twitter.com/hacking_the_web">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>