<footer class="pt-4 m-5 pt-md-5 border pb-3">
  <div class="row justify-content-md-center text-center">
    <div class="col-sm">
      <h5>
        <small id="date">© </small>
        Antonio Cebrián
      </h5>
      <h6>bitGames <span class="text-dark">v1.0.0-alpha</span>
      </h6>
    </div>
    <div class="col-sm-auto">
      <h5>My personal Website</h5>
      <div class="hover-container my-3">
        <a class="cig" href="http://clasesinformaticagranada.es/">
          <span>Clases Informática Granada</span>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <h5>Follow my work</h5>
      <ul class="list-group list-group-horizontal-md d-flex justify-content-center">
        <li class="list-group-item">
          <!--Linkedin-->
          <a target="_blank" type="button" role="button"
            href="https://www.linkedin.com/in/antonio-cebrián-mesa">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li class="list-group-item">
          <!--Github-->
          <a target="_blank" type="button" role="button" href="https://github.com/Ch3ssMaster">
            <i class="fab fa-github-square"></i>
          </a>
        </li>
        <li class="list-group-item">
          <!--Twitter-->
          <a target="_blank" type="button" role="button" href="https://twitter.com/hacking_the_web">
            <i class="fab fa-twitter-square"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>